/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.registrations .row a, .passwords .row a, .sessions .row a{
  display: inline-block;
  text-decoration: underline;
}
.registrations .row a:hover, .passwords .row a:hover, .sessions .row a:hover{
  text-decoration: none;
}
form.button_to, form.button_to div{
  display: inline;
}